<div id="plan">
    <style>
        .append_plhead {
            height: 40px;
            background-color: #cfcfcf;
            text-align: left;
            line-height: 40px;
            font-size: 18px;
            font-weight: bold;
            color: dimgray;
        }

        .append_plan {
            width: 95%;
            margin-left: 2.5%;
            border: 1px solid #cfcfcf;
            height: 250px;
        }

        .append_plan_body > ul > li {
            width: 320px;
            height: 30px;
            line-height: 30px;
            float: left;
            text-align: left;
            margin-left: 50px;
            margin-top: 10px;
            font-weight: bold;
            font-family: "微软雅黑";
            color: dimgray;
        }

        .append_plan_li {
            width: 190px;
            float: right;
            height: 30px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid dimgray;
            border-radius: 10px;
            outline: none;
            padding-left: 10px;
        }

        .append_plan_only {
            width: 190px;
            float: right;
            height: 30px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid dimgray;
            border-radius: 10px;
            outline: none;
            padding-left: 10px;
            background-color: #eee;
        }

        .append_plan_sel {
            height: 30px;
            width: 200px;
            float: right;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid dimgray;
            border-radius: 10px;
            outline: none;
            padding-left: 10px;
        }

        .append_plan_foot {
            padding-left: 155px;
            width: 100%;
        }

        .append_plhead > input {
            margin-top: 5px;
            float: right;
            width: 100px;
            height: 30px;
            margin-left: 10px;
            border: none;
            border-radius: 10px;
            color: white;
            font-weight: bold;
            font-size: 15px;
        }

        .tj_apply, .delet_apply {
            margin-top: 5px;
            float: right;
            width: 100px;
            height: 30px;
            margin-left: 10px;
            border: none;
            border-radius: 10px;
            color: white;
            font-weight: bold;
            font-size: 15px;
        }

        .plan_xiugai {
            width: 50px;
            background-color: #00c8c8;
            border: none;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            font-size: 15px;
        }

        .foot_baocun, .tj_apply {
            background-color: #00c8c8;
        }

        .foot_qingkong, .delet_apply {
            background-color: #ed5565;
        }

        .hidden_input {
            text-align: center;
            width: 100%;
            height: 30px;
            font-size: 16px;
            border: none;
        }
        .plan_date{
            height: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 18px;
            margin-top: 15px;
            margin-bottom: 10px;
            font-weight: bold;
            color: dimgray;
        }
        .plan_date>input{
            width: 190px;
            height: 22px;
            font-size: 18px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid dimgray;
            border-radius: 10px;
            outline: none;
            padding-left: 10px;
        }
    </style>
    <link rel="stylesheet" href="/public/css/Content_staff.css" type="text/css">
    <script type="text/javascript" src="/public/js/jquery.js"></script>

    <!--*********************************************存放后台员工信息*****************************************************-->
    <form method="post" id="myform_one" onSubmit="return false;">
        <div class="plan_date">
            选择期次：<input type="month" id="plan_date" value="">
        </div>
        <div class="append_plan">
            <div class="append_plhead">
                计划申请
                <input type="reset"  value="清空" class="foot_qingkong" id="foot_qingkong">
                <input type="submit" value="保存" class="foot_baocun" id="submit_one">
            </div>
            <div class="append_plan_body">
            <input type="hidden" value="" name='id' id="apply_id">
                <ul id="appende_plan_ul">
                    <li>计划类型
                        <select name="plan_id" class="append_plan_sel" id="select_01">
                            <option value="" id="opt_01">--请选择--</option>
                        </select>
                    </li>
                    <li>归属校区
                        <select name="class_post_id" class="append_plan_sel" id="select_02">
                            <option value="" id="opt_02">--请选择--</option>
                        </select>
                    </li>
                    <li>科目类别
                        <select name="finance_type_id" class="append_plan_sel" id="select_03">
                            <option value="" id="opt_03">--请选择--</option>
                        </select>
                    </li>
                    <li>明细内容 <input type="text" name='info' class="append_plan_li" id='info' required></li>
                    <li>单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位 <input type="text" name='unit' class="append_plan_li" id='unit' required></li>
                    <li>单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价 <input type="number" name='unit_price' id='price' class="append_plan_li" min="0" step="0.001" required></li>
                    <li>数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量 <input type="number" name='count' id='count' min="0" class="append_plan_li" required></li>
                    <li>金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;额 <input type="number" name='money' id='money' min="0" step="0.01" class="append_plan_only" readonly></li>
                    <li>接收校区
                        <select name="receive_school" class="append_plan_sel" id="select_04">
                            <option value="" id="opt_04">--请选择--</option>
                        </select>
                    </li>
                    <li>接收&nbsp;&nbsp;&nbsp;&nbsp;人 <input type="text" id='receive_user' name='receive_user' class="append_plan_li" required></li>
                    <li>接受卡号 <input type="text" name='receive_card' id='receive_card' class="append_plan_li" required></li>
                    <li>期望审批日期 <input type="date" name='expect_date' id='expect_date' class="append_plan_li"></li>
                    <li>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注 <input type="text" id='other' name='other' class="append_plan_li"></li>
                    <li>采购类型
                        <select name="purchase_id" class="append_plan_sel" id="select_05">
                            <option value="" id="opt_05">--请选择--</option>
                        </select>
                    </li>
                    <li>品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌 <input type="text" name='buy_brand' id='buy_brand' class="append_plan_li"></li>
                    <li>型号/规格 <input type="text" name='buy_info' id='buy_info' class="append_plan_li"></li>
                    <li>物流信息 <input type="text" name='buy_transport' id='buy_transport' class="append_plan_li"></li>
                    <li>期&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;次 <input type="month" name='month' id="month" class="append_plan_li"></li>
                </ul>
            </div>
        </div>
    </form>
    <div style="width:95%;margin-left:2.5%;overflow-x: scroll">
        <form method="post" id="myform_two" onSubmit="return false;">
        <table class="tb" cellpadding="2" cellspacing="0" id="tb">
            <tr class="trr1">
                <th class="staff_num1" style="width:50px;">
                    <div><input type="checkbox" class="checkbox_all" id="checkbox_all">
                        <label for="checkbox_all">全选</label></div>
                </th>
                <th class="staff_num1" style="width:50px;">
                    <div>修改</div>
                </th>
                <th id="staff_num1" class="staff_num1" style="width:50px;">
                    <div>序号</div>
                </th>
                <th id="staff_user1">
                    <div>项目阶段</div>
                </th>
                <th id="staff_name1">
                    <div>审核状态</div>
                </th>
                <th id="staff_export_campus1">
                    <div>审核部门</div>
                </th>
                <th id="staff_export_post1">
                    <div>计划类型</div>
                </th>
                <th id="staff_fold_campus1">
                    <div>申请校区</div>
                </th>
                <th id="staff_fold_post1">
                    <div>归属校区</div>
                </th>
                <th id="staff_time1">
                    <div>接收校区</div>
                </th>
                <th id="staff_state1">
                    <div>科目类型</div>
                </th>
                <th>
                    <div>明细内容</div>
                </th>
                <th>
                    <div>单位</div>
                </th>
                <th>
                    <div>数量</div>
                </th>
                <th>
                    <div>合计</div>
                </th>
                <th>
                    <div>实际支出</div>
                </th>
                <th>
                    <div>支出说明</div>
                </th>
                <th>
                    <div>接收人</div>
                </th>
                <th>
                    <div>接收卡号</div>
                </th>
                <th>
                    <div>期望审批日期</div>
                </th>
                <th>
                    <div>申请人</div>
                </th>
                <th>
                    <div>采购类型</div>
                </th>
                <th>
                    <div>品牌</div>
                </th>
                <th>
                    <div>型号</div>
                </th>
                <th>
                    <div>物流</div>
                </th>
                <th>
                    <div>备注</div>
                </th>
                <th>
                    <div>预算审批时间</div>
                </th>
                <th>
                    <div>最后审核时间</div>
                </th>
                <th>
                    <div>数据创建时间</div>
                </th>
            </tr>
        </table>
        </form>
    </div>
    <!--**********************************************生成excel表格及打印表格*********************************************-->
    <div style="width:95%;margin-left:2.5%">
        <input type="button" value="删除" class="delet_apply" id="delet_apply"/>
        <input type="button" value="提交申请" id="submit_two" class="tj_apply"/>
    </div>
    <script>
        var plan = function () {
            (function () {
                var arr_staff = [];
                var CountPage, PageSize = 5;
                var pageall = document.getElementById("pageall");
                var copy_excel = document.getElementById("copy_excel");
                var copy_dayin = document.getElementById("copy_dayin");
                var tb = document.getElementById("tb");
                var tb_content = tb.innerHTML;


                var school_option = [];
                var plan_option = [];
                var purchase_option = [];
                var finance_type_option = [];
                //alert(month);
                document.getElementById('month').valueAsDate = new Date();
                document.getElementById('plan_date').valueAsDate = new Date();
                

                //以下是计算金额的函数
                $("#price").blur(function(){
                    var money = $("#money");
                    var price_val = $("#price").val();
                    var count_val = $("#count").val();
                    if(price_val!="" && count_val!=""){
                        money.val((price_val*count_val).toFixed(2));
                    }else{
                        money.val("");
                    }
                });

                $("#price").change(function(){
                    var money = $("#money");
                    var price_val = $("#price").val();
                    var count_val = $("#count").val();
                    if(price_val!="" && count_val!=""){
                        money.val((price_val*count_val).toFixed(2));
                    }else{
                        money.val("");
                    }
                });


                $("#count").blur(function(){
                    var money = $("#money");
                    var price_val = $("#price").val();
                    var count_val = $("#count").val();
                    if(price_val!="" && count_val!=""){
                        money.val((price_val*count_val).toFixed(2));
                    }else{
                        money.val("");
                    }
                });


                $("#count").change(function(){
                    var money = $("#money");
                    var price_val = $("#price").val();
                    var count_val = $("#count").val();
                    if(price_val!="" && count_val!=""){
                        money.val((price_val*count_val).toFixed(2));
                    }else{
                        money.val("");
                    }
                });
                //计算金额函数结束
                
                //几个下拉菜单数据获取
                $.ajax({
                    url: "/index.php/Home/Property/plan_list",
                    type: "post",
                    async: false,
                    cache: "false",
                    success: function (data) {
                        msg = JSON.parse(data);

                        for (keys in msg) {
                            for (key in msg[keys]) {
                                if (keys == 'school') {
                                    school_option.push(msg['school'][key]);
                                } else if (keys == 'plan') {
                                    plan_option.push(msg['plan'][key]);
                                } else if (keys == 'purchase') {
                                    purchase_option.push(msg['purchase'][key]);
                                } else if (keys == 'finance_type') {
                                    finance_type_option.push(msg['finance_type'][key]);
                                }
                            }
                        }
                    }

                });
                var i;
                for (i = 0; i < plan_option.length; i++) {
                    var option_01 = document.createElement("option");
                    option_01.value=plan_option[i].id;
                    document.getElementById("select_01").appendChild(option_01).innerText = plan_option[i].plan_name;
                }
                for (i = 0; i < school_option.length; i++) {
                    var option_02 = document.createElement("option");
                    option_02.value=school_option[i].id;
                    document.getElementById("select_02").appendChild(option_02).innerText = school_option[i].class;
                }
                for (i = 0; i < finance_type_option.length; i++) {
                    var option_03 = document.createElement("option");
                    option_03.value=finance_type_option[i].id;
                    document.getElementById("select_03").appendChild(option_03).innerText = finance_type_option[i].name;
                }
                for (i = 0; i < school_option.length; i++) {
                    var option_05 = document.createElement("option");
                    option_05.value=school_option[i].id;
                    document.getElementById("select_04").appendChild(option_05).innerText = school_option[i].class;
                }
                for (i = 0; i < purchase_option.length; i++) {
                    var option_04 = document.createElement("option");
                    option_04.value=purchase_option[i].id;
                    document.getElementById("select_05").appendChild(option_04).innerText = purchase_option[i].purchase_name;
                }

//******************************     全局变量  end    ***************************
                /*
                 * 循环显示内容函数
                 * page=分页页码
                 * num=排序正反
                 * content=点击要排序字段
                 * start
                 * */
                function ArrSort(page, num, content) {
                    var len;
                    var page_str;
                    if (typeof page === "undefined") {
                        page = 0;
                        len = arr_staff.length;
                    } else {
                        if (arr_staff.length >= (page + 1) * PageSize) {
                            len = (page + 1) * PageSize;
                        } else {
                            len = arr_staff.length;
                        }
                    }
                    var arr_num = [];
                    for (var l = 0; l < len; l++) {
                        arr_num[l] = l + 1;
                    }

                    for (var j = page * PageSize; j < len; j++) {
                        if (arr_staff[j].name == null) {
                            arr_staff[j].name = "无数据";
                        }
                        if (arr_staff[j].export_campus == null) {
                            arr_staff[j].export_campus = "无数据";
                        }
                        if (arr_staff[j].export_post == null) {
                            arr_staff[j].export_post = "无数据";
                        }
                        if (arr_staff[j].fold_campus == null) {
                            arr_staff[j].fold_campus = "无数据";
                        }
                        if (arr_staff[j].fold_post == null) {
                            arr_staff[j].fold_post = "无数据";
                        }
                        if (!arr_staff[j].time) {
                            arr_staff[j].time = "无数据";
                        }
                        if (!arr_staff[j].state) {
                            arr_staff[j].state = "无数据";
                        }
                        var tr = document.createElement("tr");
                        tb.appendChild(tr).innerHTML = "<td class='td_sty'><input type='checkbox' name='check_box" + arr_staff[j].id + "' value='" + arr_staff[j].id + "' class='plan_checkbox'>" + "</div>" + "</td>" +
                                "<td class='td_sty'>" + "<div>" + "<input type='button' value='修改' id='update_sql' up_id='" + arr_staff[j].id + "' class='plan_xiugai'>" + "</div>" + "</td>" +
                                "<td class='td_sty'>" + "<div>" + arr_num[j] + "</div>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].project_type + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].check_name + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + "" + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].plan_name + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].class_post_plan + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].class_post_plan + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].receive_school + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].finance_type_name + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].info + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].unit + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].count + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].money + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].money_last + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].notes + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].receive_user + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].receive_card + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].expect_date + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].user_name + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].purchase_name + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].buy_brand + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].buy_info + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].buy_transport + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].other + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].money_time + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].update_time + "' class='hidden_input' id='' name=''>" + "</td>" +
                                "<td class='td_sty'>" + "<input type='text' readonly='readonly' value='" + arr_staff[j].create_time + "' class='hidden_input' id='' name=''>" + "</td>";

                    }

                }


//分页处理搜索数据等  end


//员工信息页面搜索按钮  start
            onload_in();
                function onload_in(){
                    arr_staff = [];
                    $("#tb tr:not(:first)").empty();
                    $.ajax({
                        url: "/index.php/Home/Property/plan_table",
                        data: {'status_name': '待提交'},
                        type: "post",
                        async: "false",
                        traditional: "true",
                        cache: "false",
                        success: function (data) {
                            document.getElementById("sousuo_img_out").style.display = "none";
                            var msg = JSON.parse(data);
                            for (key in msg) {
                                if (key != "status" && msg["status"] != 2) {
                                    arr_staff.push(msg[key]);
                                }
                            }
                            if (msg["status"] != 2) {
                                ArrSort(0);
                            } else {
                                document.getElementById("sousuo_img_out").style.display = "none";
                                document.querySelector(".hongwen_logo").style.display = "block";
                            }

                            //修改数据根据id获取
                            $("#update_sql").click(function(){
                                var id = $("#update_sql").attr('up_id');
                                $.ajax({
                                    url: "/index.php/Home/Property/update_list",
                                    data: {'id': id},
                                    type: "post",
                                    async: "false",
                                    traditional: "true",
                                    cache: "false",
                                    success: function (msg) {
                                        if (msg == 2) {
                                            alert("数据出错，请联系管理员！");
                                        } else {
                                           var data = JSON.parse(msg);
                                            $("#apply_id").val(data.id);
                                            $("#select_01").val(data.plan_id);
                                            $("#select_02").val(data.class_post_id);
                                            $("#select_03").val(data.finance_type_id);
                                            $("#info").val(data.info);
                                            $("#unit").val(data.unit);
                                            $("#price").val(data.unit_price);
                                            $("#count").val(data.count);
                                            $("#money").val(data.money);
                                            $("#select_04").val(data.receive_school);
                                            $("#receive_user").val(data.receive_user);
                                            $("#receive_card").val(data.receive_card);
                                            $("#expect_date").val(data.expect_date);
                                            $("#other").val(data.other);
                                            $("#select_05").val(data.purchase_id);
                                            $("#buy_brand").val(data.buy_brand);
                                            $("#buy_info").val(data.buy_info);
                                            $("#buy_transport").val(data.buy_transport);
                                            $("#month").val(data.month);
                                            
                                        }

                                    }

                                });
                            });
                        }
                    });
                }

//页面搜索按钮  end
//                document.getElementById("foot_qingkong").onclick = function () {
//                    var append_plan_li = document.querySelectorAll(".append_plan_li");
//                    for (var i = 0; i < append_plan_li.length; i++) {
//                        append_plan_li[i].value = "";
//                    }
//                };

                var checkbox_all = document.querySelector(".checkbox_all");
                var check_num = 0;
                checkbox_all.onclick = function () {
                    check_num += 1;
                    var plan_checkbox = document.querySelectorAll(".plan_checkbox");
                    for (var i = 0; i < plan_checkbox.length; i++) {
                        if (check_num % 2 != 0) {
                            plan_checkbox[i].checked = true;
                        } else {
                            plan_checkbox[i].checked = false;
                        }
                    }
                };


                //计划申请页删除操作
                $("#delet_apply").click(function () {
                    if (confirm("是否删除所选内容")) {
                        var data = $('#myform_two').serialize();//将表单数据以字符串形式获取
                        $.ajax({
                            url: "/index.php/Home/Property/plan_del",
                            data: {'data': data},
                            type: "post",
                            async: "false",
                            traditional: "true",
                            cache: "false",
                            success: function (msg) {
                                if (msg == 1) {
                                    alert("删除成功！");
                                    onload_in();
                                } else if (msg == 2) {
                                    alert("删除失败！");
                                } else if (msg == 3) {
                                    alert("删除失败,请选择要提交的项目！");
                                }

                            }

                        });
                    }
                });


                //计划申请页提交神请操作
                $("#submit_two").click(function () {
                    var data = $('#myform_two').serialize();//将表单数据以字符串形式获取
                    $.ajax({
                        url: "/index.php/Home/Property/plan_add",
                        data: {'data': data,'num':'4','type':'计划申请审批中'},
                        type: "post",
                        async: "false",
                        traditional: "true",
                        cache: "false",
                        success: function (msg) {
                            if (msg == 1) {
                                alert("提交成功！");
                                onload_in();
                            } else if (msg == 2) {
                                alert("提交失败！");
                            } else if (msg == 3) {
                                alert("保存失败,请选择要提交的项目！");
                            }

                        }

                    });
                });

                
                //计划申请页保存或者修改操作
                $("#submit_one").click(function(){
                    var data = $('#myform_one').serialize();//将表单数据以字符串形式获取
                    $.ajax({
                        url: "/index.php/Home/Property/plan_pro",
                        data: {'data': data},
                        type: "post",
                        async: "false",
                        traditional: "true",
                        cache: "false",
                        success: function (msg) {
                            //console.log(msg);return;
                            if (msg == 1) {
                                alert("保存成功！");
                                onload_in();
                            } else if (msg == 2) {
                                alert("修改成功！");
                                onload_in();
                            } else if (msg == 3) {
                                alert("保存失败,请填写完整数据！");
                            }

                        }

                    });
                });


            })()
        };


    </script>
</div>
<!--<script type="text/javascript" src="/public/js/plan.js" charset="utf-8"></script>-->
