<div id="plan">
    <link rel="stylesheet" href="/public/css/Content_staff.css" type="text/css">
    <script type="text/javascript" src="/public/js/jquery.js"></script>

    <!--*********************************************存放后台员工信息*****************************************************-->
    <!--*********************************************存放后台员工信息*****************************************************-->
    <div style="width:100%;overflow-x: scroll">
        <div><input type="button" value=""></div>
        <table class="tb" cellpadding="2" cellspacing="0" id="tb">
            <tr class="trr1">
                <th id="staff_num1" class="staff_num1" style="width:50px;">
                    <div>序号</div>
                </th>
                <th id="staff_user1" onclick="namesort('user')">
                    <div>项目阶段</div>
                </th>
                <th id="staff_name1" onclick="namesort('name')">
                    <div>审核状态</div>
                </th>
                <th id="staff_export_campus1" onclick="namesort('export_campus')">
                    <div>审核部门</div>
                </th>
                <th id="staff_export_post1" onclick="namesort('export_post')">
                    <div>计划类型</div>
                </th>
                <th id="staff_fold_campus1" onclick="namesort('fold_campus')">
                    <div>申请校区</div>
                </th>
                <th id="staff_fold_post1" onclick="namesort('fold_post')">
                    <div>归属校区</div>
                </th>
                <th id="staff_time1" onclick="namesort('time')">
                    <div>接收校区</div>
                </th>
                <th id="staff_state1" onclick="namesort('state')">
                    <div>科目类型</div>
                </th><th id="" onclick="namesort('state')">
                    <div>明细内容</div>
                </th><th id="" onclick="namesort('state')">
                    <div>单位</div>
                </th><th id="" onclick="namesort('state')">
                    <div>数量</div>
                </th><th id="" onclick="namesort('state')">
                    <div>合计</div>
                </th><th id="" onclick="namesort('state')">
                    <div>实际支出</div>
                </th><th id="" onclick="namesort('state')">
                    <div>支出说明</div>
                </th><th id="" onclick="namesort('state')">
                    <div>接收人</div>
                </th><th id="" onclick="namesort('state')">
                    <div>接收卡号</div>
                </th><th id="" onclick="namesort('state')">
                    <div>期望审批日期</div>
                </th><th id="" onclick="namesort('state')">
                    <div>申请人</div>
                </th><th id="" onclick="namesort('state')">
                    <div>采购类型</div>
                </th><th id="" onclick="namesort('state')">
                    <div>品牌</div>
                </th><th id="" onclick="namesort('state')">
                    <div>型号</div>
                </th><th id="" onclick="namesort('state')">
                    <div>物流</div>
                </th><th id="" onclick="namesort('state')">
                    <div>备注</div>
                </th><th id="" onclick="namesort('state')">
                    <div>预算审批时间</div>
                </th><th id="" onclick="namesort('state')">
                    <div>最后审核时间</div>
                </th><th id="" onclick="namesort('state')">
                    <div>数据创建时间</div>
                </th>
            </tr>
        </table>
    </div>
    <div>
        <div class="head"></div>
        <div></div>
        <div></div>
    </div>
    <!--endprint-->
    <!--**********************************************分页签，上一页/下一页***********************************************-->
    <input type='button' value='首页' class='page_top' id="page_min" onclick='page_page(1)'>

    <div id='page_all'></div>
    <input type='button' value='尾页' class='page_top' id="page_max" onclick='page_page(CountPage )'>

    <div id="pageall"></div>
    <!--**********************************************生成excel表格及打印表格*********************************************-->
    <input class="copy_excel" type="button" id="copy_excel" onclick="excel_blank()" value="生成excel"/>
    <input type="button" class="copy_dayin" id="copy_dayin" onclick="dayin_blank()" value="生成打印内容"/>
    <script>
        var plan = function () {
            (function () {
                var arr_staff = [];
                var arr_class = new Array();
                var CountPage, PageSize = 25;
                var find_btt = document.getElementById("find_btt");
                var pageall = document.getElementById("pageall");
                var pagemin = document.getElementById("page_min");
                var pagemax = document.getElementById("page_max");
                var copy_excel = document.getElementById("copy_excel");
                var copy_dayin = document.getElementById("copy_dayin");
                var tb = document.getElementById("tb");
                var city = document.getElementById("city");
                var tabb1 = document.getElementById("tabb1");
                var tabb2 = document.getElementById("tabb2");
                var tabb3 = document.getElementById("tabb3");
                var tabb4 = document.getElementById("tabb4");
                var tabb5 = document.getElementById("tabb5");
                var tabb6 = document.getElementById("tabb6");
                var tabb7 = document.getElementById("tabb7");
                var tb_content = tb.innerHTML;
//******************************     全局变量  end    ***************************

//自适应宽度
                var tab_click = document.getElementById("tab_click");
                var container_width = document.getElementById("container").style.width;
                var div_length = tab_click.children.length;
                document.getElementById("tab_click").style.width = container_width;
                var tab_chile_width = document.querySelectorAll('.tab_width');
                for (var t = 0; t < tab_chile_width.length; t++) {
                    tab_chile_width[t].style.width = 100 / div_length + "%";
                    if (t == tab_chile_width.length - 1) {
                        tab_chile_width[t].style.borderTopRightRadius = "10px";
                        tab_chile_width[t].style.overflow = "hidden";
                    } else if (t == 0) {
                        tab_chile_width[t].style.borderTopLeftRadius = "10px";
                        tab_chile_width[t].style.overflow = "hidden";
                        tab_chile_width[t].style.background = "white";
                        tab_chile_width[t].style.color = "black";
                    }
                }


//页面加载事件  start
                window.onload = function () {
                    var reques = new XMLHttpRequest();
                    reques.open("get", "/index.php/Home/Content/post");
                    reques.send();
                    reques.onreadystatechange = function () {
                        if (reques.readyState == 4 && reques.status == 200) {
                            var json_text = JSON.parse(reques.responseText);

                            for (var key in json_text) {
                                arr_class.push(json_text[key]);
                            }
                        }
                    };
                    var check_append = [];
                    $.ajax({
                        url: "/index.php/Home/Index/modules",
                        data: {"the_level": 1},
                        type: "post",
                        async: "false",
                        success: function (data) {
                            var check_append_modules = [];
                            msg = JSON.parse(data);
                            var arr_num = [];
                            for (key in msg) {
                                if (key != "status" && msg["status"] != 2) {
                                    check_append_modules.push(msg[key]);
                                }
                            }
                            for (var i = 0; i < check_append_modules.length; i++) {
                                var append_div = document.createElement("div");
                                document.getElementById("tab_click").appendChild(append_div).innerHTML = "<div class='click_modules'>" + check_append_modules[i].modules_name + "</div>";
                            }
                            var click_div = document.getElementById("tab_click");
                            var tab_child = document.querySelectorAll('.click_modules');
                            click_div.style.width = "95%";
                            for (var aa = 0; aa < tab_child.length; aa++) {
                                tab_child[aa].parentNode.style.width = 100 / tab_child.length + "%";
                                if (tab_child[aa].innerText === "员工调动") {
                                    tab_child[aa].style.background = "white";
                                    tab_child[aa].style.color = "black";

                                }
                                if (aa == 0) {
                                    tab_child[aa].style.borderTopLeftRadius = "10px";
                                } else if (aa == tab_child.length - 1) {
                                    tab_child[aa].style.borderTopRightRadius = "10px";
                                }
                            }
                            click_div.addEventListener("click", function (e) {
                                var target = e.target;
                                for (var j = 0; j < check_append_modules.length; j++) {
                                    if (target.innerText == check_append_modules[j].modules_name) {
                                        location.href = "/index.php/Home/" + check_append_modules[j].modules_file;
                                    }
                                }
                            });
                        }
                    });
                };
//页面加载事件  end

//alert(json_text[key][0].class);

                /*
                 * 循环显示内容函数
                 * page=分页页码
                 * num=排序正反
                 * content=点击要排序字段
                 * start
                 * */
                function ArrSort(page, num, content) {
                    var len;
                    var page_str;
                    if (typeof page === "undefined") {
                        page = 0;
                        len = arr_staff.length;
                    } else {
                        if (arr_staff.length >= (page + 1) * PageSize) {
                            len = (page + 1) * PageSize;
                        } else {
                            len = arr_staff.length;
                        }
                    }
                    var arr_num = [];
                    for (var l = 0; l < len; l++) {
                        arr_num[l] = l + 1;
                    }

                    for (var j = page * PageSize; j < len; j++) {
                        if (arr_staff[j].name == null) {
                            arr_staff[j].name = "无数据";
                        }
                        if (arr_staff[j].export_campus == null) {
                            arr_staff[j].export_campus = "无数据";
                        }
                        if (arr_staff[j].export_post == null) {
                            arr_staff[j].export_post = "无数据";
                        }
                        if (arr_staff[j].fold_campus == null) {
                            arr_staff[j].fold_campus = "无数据";
                        }
                        if (arr_staff[j].fold_post == null) {
                            arr_staff[j].fold_post = "无数据";
                        }
                        if (!arr_staff[j].time) {
                            arr_staff[j].time = "无数据";
                        }
                        if (!arr_staff[j].state) {
                            arr_staff[j].state = "无数据";
                        }
                        var tr = document.createElement("tr");
                        tb.appendChild(tr).innerHTML="<td class='td_sty'>" + "<div name='" + arr_staff[j].user + "' class='div_inner'>" + arr_num[j] + "</div>" + "</td>" +
                                "<td class='td_sty'>" + "<div name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].user + "</div>" + "<input type='hidden' class='user_sort' value='" + 1 + "'></td>" +
                                "<td class='td_sty'>" + "<div name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].name + "</div>" + "<input type='hidden' class='name_sort' value='" + 1 + "'></td>" +
                                "<td class='td_sty'>" + "<div id='diaochu_bumen' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].export_campus + "</div>" + "<input type='hidden' class='export_campus_sort' value='" + 1 + "'></td>" +
                                "<td class='td_sty'>" + "<div name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].export_post + "</div>" + "<input type='hidden' class='export_post_sort' value='" + 1 + "'></td>" +
                                "<td class='td_sty'>" + "<div id='diaoru_bumen' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].fold_campus + "</div>" + "<input type='hidden' class='fold_campus_sort' value='" + 1 + "'></td>" +
                                "<td class='td_sty'>" + "<div name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].fold_post + "</div>" + "<input type='hidden' class='fold_post_sort' value='" + 1 + "'></td>" +
                                "<td class='td_sty'>" + "<div name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].time + "</div>" + "<input type='hidden' class='time_sort' value='" + 1 + "'></td>" +
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>"+
                                "<td class='td_sty'>" + "<div id='shiyou_inner' name='" + arr_staff[j].user + "' class='div_inner'>" + arr_staff[j].state + "</div>" + "<input type='hidden' class='state_sort' value='" + 1 + "'></td>";
                        pageall.style.display = "block";
                        pagemin.style.display = "block";
                        pagemax.style.display = "block";
                        copy_excel.style.display = "block";
                        copy_dayin.style.display = "block";
                    }


                    if (num == 2) {
                        $("." + content + "_sort:first").val("2");
                    } else {
                        $("." + content + "_sort:first").val("1");
                    }
                    //下面是分页处理
                    CountPage = arr_staff.length % PageSize === 0 ? (arr_staff.length / PageSize) : (parseInt(arr_staff.length / PageSize) + 1);
                    var page_current = (parseInt(page) + 1);
                    var page_top = "page_top";
                    var page_next = "page_next";
                    if (document.getElementById("page_min").style.display == "block") {
                        page_str = "<input type='button' value='上一页' class='page_top' onclick='page_page(" + page_current + "," + '"' + page_top + '"' + ")' id='page_top'>";
                    } else if (tb.innerHTML == "") {
                        document.getElementById("page_min").display = "none";
                        document.getElementById("page_max").display = "none";
                        document.getElementById("page_all").display = "none";
                    }

                    //************************     判断当前页     *****************************
                    if (page_current == 1 || page_current == 2 || page_current == 3) {
                        if (CountPage <= 5) {
                            for (var page_i = 1; page_i <= CountPage; page_i++) {
                                page_str += "<span class='page' id='page" + (page_i) + "' onclick='page_page(" + (page_i) + ")'>" + (page_i) + "</span>";
                            }
                        } else {
                            for (var page_i = 1; page_i <= 5; page_i++) {
                                page_str += "<span class='page' id='page" + (page_i) + "' onclick='page_page(" + (page_i) + ")'>" + (page_i) + "</span>";
                            }
                        }

                    } else if (page_current == CountPage || page_current == (CountPage - 1) || page_current == (CountPage - 2)) {
                        if (CountPage <= 5) {
                            for (var page_i = 1; page_i <= CountPage; page_i++) {
                                page_str += "<span class='page' id='page" + (page_i) + "' onclick='page_page(" + (page_i) + ")'>" + (page_i) + "</span>";
                            }
                        } else {
                            for (var page_i = (CountPage - 4); page_i <= CountPage; page_i++) {
                                page_str += "<span class='page' id='page" + (page_i) + "' onclick='page_page(" + (page_i) + ")'>" + (page_i) + "</span>";
                            }
                        }
                    } else {
                        if (CountPage <= 5) {
                            for (var page_i = 1; page_i <= CountPage; page_i++) {
                                page_str += "<span class='page' id='page" + (page_i) + "' onclick='page_page(" + (page_i) + ")'>" + (page_i) + "</span>";
                            }
                        } else {
                            for (var page_i = (page_current - 2); page_i <= (page_current + 2); page_i++) {
                                page_str += "<span class='page' id='page" + (page_i) + "' onclick='page_page(" + (page_i) + ")'>" + (page_i) + "</span>";
                            }
                        }
                    }
                    if (document.getElementById("page_min").style.display == "block") {
                        page_str += "<input type='button' class='page_next' value='下一页' onclick='page_page(" + page_current + "," + '"' + page_next + '"' + ")' id='page_next'>";
                    }
                    $("#page_all").html(page_str);
                    document.getElementById("page" + page_current).style.backgroundColor = "#00c8c8";
                    document.getElementById("pageall").innerHTML = "共" + CountPage + "页";
                }


//分页处理搜索数据等  end


//员工信息页面搜索按钮  start
                $("#tb tr:not(:first)").empty();
                arr_staff = [];
                var xhr = new XMLHttpRequest();
                xhr.open("get", "/index.php/Home/Content/change_find/content/status/" + status);
                xhr.send();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        document.getElementById("sousuo_img_out").style.display = "none";
                        var msg = JSON.parse(xhr.responseText);
                        for (key in msg) {
                            if (key != "status" && msg["status"] != 2) {
                                arr_staff.push(msg[key]);
                                arr_staff.sort(function (b, a) {
                                    return a["time"].localeCompare(b["time"]);
                                });
                            }
                        }
                        if (msg["status"] != 2) {
                            ArrSort(0);
                        } else {
                            document.getElementById("sousuo_img_out").style.display = "none";
                            document.querySelector(".hongwen_logo").style.display = "block";
                            alert("根据查询，无数据~！");
                        }
                    }
                };

//页面搜索按钮  end


//打印页面   start
                function dayin_blank() {

                    if ($("tr:first").text() != "") {
                        window.open("/index.php/Home/Staff/dayin");
                    } else {
                        alert("程序有误，请联系管理员！");
                    }
                }

//打印页面  end


//excel操作  start
                function excel_blank() {
  
                    if ($("tr:first").text() != "") {
                        window.open("/index.php/Home/Staff/php_excel");
                    } else {
                        alert("程序有误，请联系管理员！");
                    }
                }

                function page_page(page, page_status) {
                    if (page_status == "page_top" && page != 1) {
                        tb.innerHTML = tb_content;
                        ArrSort(page - 2)
                    } else if (page_status == "page_next" && page != CountPage) {
                        tb.innerHTML = tb_content;
                        ArrSort(page)
                    } else {
                        tb.innerHTML = tb_content;
                        ArrSort(page - 1)
                    }
                }

            })()
        }

    </script>
</div>
<!--<script type="text/javascript" src="/public/js/plan.js" charset="utf-8"></script>-->
