<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/public/js/jquery.js"></script>
    <!--<script type="text/javascript" src="/public/js/public.js"></script>-->
    <script src="/public/js/laydate/laydate.js"></script>
    <title>员工信息</title>
    <link rel="stylesheet" href="/public/css/Content_staff.css" type="text/css">
    <link rel="import" href="staff_index.html" id="staff_index_append">
</head>
<body style="background-color: #efefef" id="staff_body">
<div style="width:100%;height:5000px;z-index:99999;position:fixed;top:0;display:none;background-color: white;opacity: 0.5"
     id="sousuo_img_out">
    <img src="/public/img/sousuo.gif" alt="" id="sousuo_img">

    <p style="color:#00c8c8;font-size: 20px;font-weight:bold; position:fixed;left:44%;top:460px; z-index: 99999"
       id="sousuo_img_txt">数据正在拼命加载中。。。。</p>
</div>
<!--*********************         头部引用        ******************-->
<div class="head_01">
    <p id="bigfont">员工档案管理</p>
    <script src="/public/js/head.js" type="text/javascript" charset="utf-8"></script>
</div>
<div class="zpgw" id="bq">
</div>
</body>
<script>
    var staff_index_append = document.getElementById("staff_index_append").innerHTML;
    document.getElementById("bq").innerHTML = document.getElementById("staff_index_append").import.body.innerHTML;
</script>
<script type="text/javascript" src="/public/js/staff_all.js"></script>
</html>