<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/public/js/jquery.js"></script>
    <title>考勤记录</title>
    <link rel="stylesheet" href="/public/css/Content_staff.css" type="text/css">
    <link rel="stylesheet" href="/public/css/check_rules.css" type="text/css">
    <style>
        .zpg_head>div{
            width:33.3%;
        }

    </style>
</head>
<body style="background-color: #efefef">
<div style="width:100%;height:5000px;z-index:99999;position:fixed;top:0;display:none;background-color: white;opacity: 0.5"
     id="sousuo_img_out">
    <img src="/public/img/sousuo.gif" alt="" id="sousuo_img">

    <p style="color:#00c8c8;font-size: 20px;font-weight:bold; position:fixed;left:44%;top:460px; z-index: 99999"
       id="sousuo_img_txt">数据正在拼命加载中。。。。</p>
</div>
<!--*********************         头部引用        ******************-->
<div class="head_01">
    <p id="bigfont">考勤核对管理</p>
    <script src="/public/js/head.js" type="text/javascript" charset="utf-8"></script>
</div>
<div class="staff_rules_out" id="staff_rules_out"></div>
<div class="zpgw" id="bq">
    <div class="zpgwl" id="tab">
        <div id="tab_click"  class="zpg_head" style="border-top-right-radius:10px;border-top-left-radius:10px;overflow: hidden; background-color: rgb(239, 239, 239) !important;border-right:1px solid lightgray">
        </div>
    </div>
    <div id="container" style="width:94.9%;">
        <div class="append_time_rules" onclick="rule_ajax()">制定员工打卡时间规则</div>
        <div class="append_time_rules formulate_time" id="get_id" onclick="formulate_time_02(this,1)">制定员工休息时间</div>
        <div id="content1" style="top:60px" class="check_tree">
            <div id='campus_content'></div>
            <form  action="/Checking/check_rule_pro" method="post" id="rules_form">
            <div class="staff_rules" id="staff_rules">
                <div class="staff_rules_head" id="staff_rules_head">
                    <p id="staff_rules_name"></p>
                    <input type="button" class="staff_rules_close" value="×" style="" onclick="staff_rules_close()">
                </div>
                <table class="staff_rules_table" cellpadding="2" cellspacing="0" id="staff_rules_table" style="height:84px">
                    <tr class="staff_rules_tr">
                        <td>
                            <select name="" id="time_rule0" class="select_time_rules">
                                <option value="0" class="select_time_child">请选择默认时间规则</option>
                            </select>
                        </td>
                        <td><div class="rules_reset">默认</div></td>
                    </tr>
                    <tr class="staff_rules_tr">
                        <td>
                            <select name="" id="time_rule1" class="select_time_rules">
                                <option value="0" class="select_time_child">请选择时间规则</option>
                            </select>
                        </td>
                        <td>
                            <div class="rules_reset" onclick="remove_rules_time(1)" >重置</div>
                        </td>
                        <td>
                            <div class="rules_disable" num='1' onclick="disabled_rules_time(1)" id="rules_disable1">禁用</div>
                        </td>
                    </tr>
                    <tr class="staff_rules_tr">
                        <td>
                            <select name="" id="time_rule2" class="select_time_rules">
                                <option value="0" class="select_time_child">请选择时间规则</option>
                            </select>
                        </td>
                        <td>
                            <div class="rules_reset" onclick="remove_rules_time(2)">重置</div>
                        </td>
                        <td>
                            <div class="rules_disable" num='2' onclick="disabled_rules_time(2)" id="rules_disable2">禁用</div>
                        </td>
                    </tr>
                </table>
                <div style="text-align: center; font-weight: bold;color:#00c8c8;background-color: #efefef;height:30px;line-height: 30px;margin:10px 0 10px 0" >制定休息时间</div>
                <div id="rest_show_date">

                </div>

                <input type="button" value="确定" class="staff_rules_btt1" id="staff_rules_btt1"><input type="button" value="取消" class="staff_rules_btt2" onclick="staff_rules_close()">
            </div>
            <input type='hidden' id="id_card"/>
            </form>

            <div class="append_staff_rules " style="top:10px;left:-310px" id="move_staff_rules" onmousedown="mouseDown(this,event)"
                 onmousemove="mouseMove(event)"
                 onmouseup="mouseUp(event)">
                <div class="staff_rules_head" style="text-align:center;line-height: 50px;color:#00c8c8;font-weight: bold" id="">
                    制定员工打卡时间规则
                    <input type="button" class="append_rules_close" value="×" style="" onclick="staff_rules_clo()">
                </div>
                <div class="append_time_forrules">
                        <table class="rule_all_table" border=1>
                            <tr>
                                <th>上班时间</th>
                                <th>下班时间</th>
                                <th>操作</th>
                            </tr>
                            <tr class='last_tr'>
                                <td colspan='3' style="border:none;">
                                    <input type='button' value='添加' class='time_rules_tianjia' style="float:left; background-color:#00c8c8;border:none;border-radius: 5px;color:white;width:100px;height:30px" >
                                </td>
                            </tr>
                        </table>
                </div>
                <input type="button" value="确定" class="staff_rules_btt1" onclick="staff_rules_clo()" style="margin-bottom:20px"><input type="button" value="取消" class="staff_rules_btt2" style="margin-bottom:20px" onclick="staff_rules_clo()">
            </div>

            <div class="restTime_rules" id="restTime_rules">
                <div class="staff_rules_head" style="text-align:center;line-height: 50px;color:#00c8c8;font-weight: bold" id="">
                    制定员工休息时间
                    <input type="button" class="append_rules_close" value="×" style="" onclick="close_rest(1)">
                </div>
                <div class="append_time_forrules append_time_rest">
                    <table class="rule_all_table" id="t1" border=1 style="  overflow-y: scroll;">
                        <tr>
                            <th>名称</th>
                            <th>职务</th>
                            <th>休息时间</th>
                            <th>操作</th>
                        </tr>
                    </table>
                    <table class="append_time_forrules" style="margin-left:10px;border-top:0">
                        <tr class='rest_tr'>
                            <td colspan='3' style="border:none;">
                                <input type='button' value='添加' class='rest_tianjia' onclick="rule_week_add(1)" style="float:left; background-color:#00c8c8;border:none;border-radius: 5px;color:white;width:100px;height:30px" >
                            </td>
                        </tr>
                    </table>
                </div>
                <input type="button" value="确定" class="staff_rules_btt1" onclick="close_rest(1)" style="margin-bottom:20px;margin-left: 300px"><input type="button" value="取消" class="staff_rules_btt2" style="margin-bottom:20px" onclick="close_rest(1)">
            </div>
            <div class="restTime_rules" id="restTime_rules2">
                <div class="staff_rules_head" style="text-align:center;line-height: 50px;color:#00c8c8;font-weight: bold" id=" ">
                    <div class="rest_font">制定员工休息时间</div>
                    <input type="button" class="append_rules_close" value="×" style="" onclick="close_rest(2)">
                </div>
                <div class="append_time_forrules append_time_rest">
                    <table class="rule_all_table" id="t2" border=1 style="  overflow-y: scroll;">
                        <tr>
                            <th>名称</th>
                            <th>职务</th>
                            <th>休息时间</th>
                            <th>操作</th>
                        </tr>

                    </table>
                    <table class="append_time_forrules" style="margin-left:10px;border-top:0">
                        <tr class='rest_tr'>
                            <td colspan='3' style="border:none;">
                                <input type='button' value='添加' class='rest_tianjia'  onclick="rule_week_add(2)" style="float:left; background-color:#00c8c8;border:none;border-radius: 5px;color:white;width:100px;height:30px" >
                            </td>
                        </tr>
                    </table>
                </div>
                <input type="button" value="确定" class="staff_rules_btt1" onclick="close_rest(2)" style="margin-bottom:20px;margin-left: 300px"><input type="button" value="取消" class="staff_rules_btt2" style="margin-bottom:20px" onclick="close_rest(2)">
            </div>
        </div>
    </div>
</div>
</body>
<script>
</script>
<script type="text/javascript" src="/public/js/checking_rules.js"></script>
</html>